# MongoDB connection string
MONGO_URI=mongodb://localhost:27017

# MongoDB database name
MONGO_DB=myapp

# Collection where users are stored
MONGO_USERS_COLLECTION=users

# Token with command "chainlit create-secret"
CHAINLIT_AUTH_SECRET=


DATABASE_URL=postgresql://root:root@localhost:5432/postgres


# If you want to use file upload (that we will not use un tekno-ai)
# BUCKET_NAME=my-bucket
# APP_AWS_ACCESS_KEY=random-key
# APP_AWS_SECRET_KEY=random-key
# APP_AWS_REGION=eu-central-1
# DEV_AWS_ENDPOINT=http://localhost:4566