# Environment variables
.env

# Python virtual environment
.venv/
env/
venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Editors
.vscode/
.idea/

# Chainlit
.chainlit/
chainlit/.*

# RAG indices & text data
rag/index_storage/
rag/texts/

# The markdown that created after running chainlit project
chainlit/chainlit.md

# node modules and all other files inside the folder
node_modules/


rag/temp/
rag/raw_html/
rag/xml_dir/
rag/xml_dir/